header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
body ,html{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

header > a div {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  height: 70px;
}
header a{
  text-decoration: none;
}
.graph-item a{
  text-decoration: none;
}
.graph-item a h2{
  color: black;
}
header h1{
  margin-left: 30px;
}
header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 50px; 
}

.graphs {
  margin: 100px 50px 10px 50px;
}

.graphlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.graphlist .graph-item {
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: lightblue;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.graphlist .graph-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
}

.graphlist .graph-item img {
  width: 400px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

.graphlist .graph-item h2 {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
/*subgraph*/
#contentTitle{
  font-weight: 500;
  margin-left: 30px;
}
.subgraph {
  margin: 80px 50px 10px 50px;
}

#content{
  display: flex;
  flex-wrap: wrap;


}

#content .graph-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 400px;
  background-color: lightblue;
  border-radius: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

#content .graph-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transform: translateY(5px);
}

#content .graph-item img {
  
  width: 400px;
  height: 300px;
  border-radius: 10px 10px 0 0;
}

#content .graph-item h2 {
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
footer {
  margin-top: auto;
  background-color: #333;
  color: white;
  padding: 2px;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: underline;
  text-align: center;
  padding: 5px 0;
  margin-top: auto;
  transition: transform 0.3s ease;
}
#footer_links {
  display: flex;
  justify-content: center;
}

#footer_links a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

#footer_links a:hover {
  transform: translateY(10px);
}

#footer_links img {
  width: 30px;
  height: 30px; 
  margin-bottom: 2px; 
  border-radius: 50%;
  border-color: white;
}

#footer_links a span {
  font-size: 18px;
  margin-top: 2px; 
}
@media only screen and (max-width: 375px) {

  header > a div {
    height: 50px;
  }
  header h1{
    margin-left: 30px;
    font-size: 20px;
  }
  header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 50px; 
  }
  
  .graphs {
    margin: 50px 0px 10px 0px;
  }

  .graphlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .graphlist .graph-item img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  .graphlist .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  /*subgraph*/
  #contentTitle{
    font-weight: 500;
    margin-left: 0px;
    font-size: 20px;
  }
  .subgraph {
    margin: 40px 5px 10px 5px;
  }
  
  #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #content .graph-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #content .graph-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
  }
  
  #content .graph-item img {
    
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  #content .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
  footer {
    font-size: 6px;
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
}
footer h2{
    font-size: 10px;
}
footer a {
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1px 0;
    margin-top: auto;
    transition: transform 0.3s ease;
}
#footer_links {
    display: flex;
    justify-content: center;
}

#footer_links a {
    font-size: 8px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
#footer_links a span{
  font-size: 8px;
}
#footer_links a:hover {
    transform: translateY(10px);
}

#footer_links a img {
    width: 18px;
    height: 18px; 
    margin-bottom: 2px; 
    border-radius: 50%;
    border-color: white;
}
#footer_links a p{
    font-size: 6px;
}
}

@media only screen and (min-width: 376px) and (max-width: 480px) {
  header > a div {
    height: 50px;
  }
  header h1{
    margin-left: 30px;
    font-size: 20px;
  }
  header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 50px; 
  }
  
  .graphs {
    margin: 50px 0px 10px 0px;
  }
  
  .graphlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .graphlist .graph-item img {
    width: 350px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  .graphlist .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  /*subgraph*/
  #contentTitle{
    font-weight: 500;
    margin-left: 0px;
    font-size: 22px;
  }
  .subgraph {
    margin: 40px 5px 10px 5px;
  }
  
  #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #content .graph-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 350px;
    background-color: lightblue;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #content .graph-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
  }
  
  #content .graph-item img {
    
    width: 350px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  #content .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
  footer {
    font-size: 8px;
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
}
footer h2{
    font-size: 10px;
}
footer a {
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1px 0;
    margin-top: auto;
    transition: transform 0.3s ease;
}
#footer_links {
    display: flex;
    justify-content: center;
}

#footer_links a {
    font-size: 8px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
#footer_links a span{
  font-size: 8px;
}
#footer_links a:hover {
    transform: translateY(10px);
}

#footer_links a img {
    width: 18px;
    height: 18px; 
    margin-bottom: 2px; 
    border-radius: 50%;
    border-color: white;
}
#footer_links a p{
    font-size: 6px;
}
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  header > a div {
    height: 60px;
  }
  header h1{
    margin-left: 30px;
    font-size: 20px;
  }
  header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px; 
  }
  
  .graphs {
    margin: 60px 0px 10px 0px;
  }
  
  .graphlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .graphlist .graph-item img {
    width: 400px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  .graphlist .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  /*subgraph*/
  #contentTitle{
    font-weight: 500;
    margin-left: 0px;
    font-size: 20px;
  }
  .subgraph {
    margin: 40px 5px 10px 5px;
  }
  
  #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #content .graph-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #content .graph-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
  }
  
  #content .graph-item img {
    
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  #content .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
  footer {
    font-size: 10px;
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
}
footer h2{
    font-size: 10px;
}
footer a {
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1px 0;
    margin-top: auto;
    transition: transform 0.3s ease;
}
#footer_links {
    display: flex;
    justify-content: center;
}

#footer_links a {
    font-size: 10px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
#footer_links a span{
  font-size: 10px;
}
#footer_links a:hover {
    transform: translateY(10px);
}

#footer_links a img {
    width: 25px;
    height: 25px; 
    margin-bottom: 2px; 
    border-radius: 50%;
    border-color: white;
}
#footer_links a p{
    font-size: 10px;
}
}
@media only screen and (min-width: 769px) and (max-width: 979px) {
  header > a div {
    height: 80px;
  }
  header h1{
    margin-left: 30px;
    font-size: 20px;
  }
  header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 50px; 
  }
  
  .graphs {
    margin: 90px 0px 10px 0px;
  }
  
  .graphlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .graphlist .graph-item img {
    width: 400px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  .graphlist .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }
  /*subgraph*/
  #contentTitle{
    font-weight: 500;
    margin-left: 0px;
    font-size: 20px;
  }
  .subgraph {
    margin: 40px 5px 10px 5px;
  }
  
  #content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #content .graph-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    background-color: lightblue;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  #content .graph-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
  }
  
  #content .graph-item img {
    
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
  }
  
  #content .graph-item h2 {
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
  }
  footer {
    font-size: 12px;
    margin-top: auto;
    background-color: #333;
    color: white;
    padding: 2px;
    text-align: center;
}
footer h2{
    font-size: 12px;
}
footer a {
    color: white;
    text-decoration: underline;
    text-align: center;
    padding: 1px 0;
    margin-top: auto;
    transition: transform 0.3s ease;
}
#footer_links {
    display: flex;
    justify-content: center;
}

#footer_links a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
#footer_links a span{
  font-size: 12px;
}
#footer_links a:hover {
    transform: translateY(10px);
}

#footer_links a img {
    width: 25px;
    height: 25px; 
    margin-bottom: 2px; 
    border-radius: 50%;
    border-color: white;
}
#footer_links a p{
    font-size: 12px;
}
}
@media only screen and (min-width: 980px) and (max-width: 1024px){
}
@media only screen and (min-width: 1025px) and (max-width: 1399px){
}
a {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* Removes the blue highlight on tap */
}
